Source: fleximanage
Section: net
Priority: extra
Maintainer: Sassy Natan <sassyn@flexiwan.com>
Build-Depends: debhelper (>= 10), nodejs (>=8.0.0), mongodb (>=3.6.0), npm (>=3.5.0)
Standards-Version: 4.1.2
Homepage: https://flexiwan.com

Package: fleximanage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs (>=8.0.0), mongodb (>=3.6.0), npm (>=3.5.0)
Description: flexiWAN Web managament controller 
 flexiWAN is pioneering the Second Wave of SD-WAN in which being 
 open source is just a small part of its openness.
 A centrally managed SD-WAN open source with integration points in
 the core of the system that allow for 3rd party logic to be integrated
 in a performance efficient way.
