[Unit]
Description=flexiWAN Server App

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/fleximanage/bin/www development
WorkingDirectory=/opt/fleximanage/

# Environment variables:
Environment=NODE_ENV=production
Environment=USER_SECRET_KEY=123456abcdef
Environment=DEVICE_SECRET_KEY=789012ghijkl

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

User=root

StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fleximanage
Restart=always

PIDFile=/var/run/fleximanage.pid
ExecStartPost=/bin/sh -c "ps -elf |grep '/usr/bin/node /opt/fleximanage/bin/www' | grep -v grep | awk '{print $4}' > /var/run/fleximanage.pid"
ExecStopPost=/bin/sh -c "rm -rf /var/run/fleximanage.pid"


[Install]
WantedBy=multi-user.target
